body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(train2.jpg) no-repeat;
	background-size: cover;
}
.login-box{
	width:280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
}
input{
	background: transparent;
	border:none;
}

input, select, textarea{
	color:white;
}

.textbox{
	width:100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #ffffff;
}

.btn{
	width:100%;
	background: none;
	border:2px solid #4caf50;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin:12px 0;
}